footer.footer
  .container-fluid
    .row
      .col-12.col-md-4
        h4 Footer Column 1
        p Some text here
      .col-12.col-md-4
        h4 Footer Column 2
        p Some text here
      .col-12.col-md-4
        h4 Footer Column 3
        p Some text here
    hr
    p.text-center Copyright © 2023
